consume-soap-app/src/main/mule/consume-soap-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="922dbe18-dbb9-447c-8941-dc1f68066477" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="87b4812d-7eec-4553-94e5-824dad65da3d" >
		<wsc:connection wsdlLocation="http://dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="consume-soap-appFlow" doc:id="a1895227-25c3-43be-b425-1ca3641276f4" >
		<http:listener doc:name="Listener" doc:id="2af8e2ad-24ee-4cb8-8bde-98deafce047b" config-ref="HTTP_Listener_config" path="/add"/>
		<set-variable value="#[attributes.queryParams.intA]" doc:name="Set Variable" doc:id="64d7aef9-2b8f-4174-aa28-1dfd3eb9905c" variableName="intA"/>
		<set-variable value="#[attributes.queryParams.intB]" doc:name="Set Variable" doc:id="758743c5-fc7f-420b-8772-20b90172599f" variableName="intB"/>
		<ee:transform doc:name="Transform Message" doc:id="d932377e-fa83-4788-8bc2-9a8ab20ae14b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.intA as Number,
		ns0#intB: vars.intB as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="8a260200-aede-4bb7-9667-cd9d212839c7" config-ref="Web_Service_Consumer_Config" operation="Add"/>
		<ee:transform doc:name="Transform Message" doc:id="f014c2f1-35ab-4701-89d3-0e185dd0fb24" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://tempuri.org/
---
{
	AddResult: payload.body.ns0#AddResponse.ns0#AddResult default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
